<app-draggable-window [width]="'500px'" [height]="'500px'" [isResizeable]="true" [top]="'5%'" [right]="'2%'"
                      (closeCallback)="this.close()" [title]="'Strategic Form'">
  <app-strategic-form-table [stratFormScaleCSS]="this.stratFormScaleCSS"></app-strategic-form-table>

  <ng-container>
    <div class="solve-button" *ngIf="this.userActionController && this.userActionController.strategicForm"
         (click)="postFromStrategicForm()">Solve
    </div>
    <div *ngIf="!this.userActionController || !this.userActionController.strategicForm" class="not-available-text">
      Strategic form not available...
    </div>
  </ng-container>

  <ng-container bottom>
    <div class="zoom-button">
      <img [src]="'assets/images/zoom-out.png'" alt="zoom out button" (click)="this.downScale(1.2)">
    </div>
    <div class="zoom-button">
      <img [src]="'assets/images/zoom-in.png'" alt="zoom in button" (click)="this.upScale(1.2)">
    </div>
  </ng-container>

</app-draggable-window>
