<app-draggable-window [width]="'30%'" [height]="'50%'" [isResizeable]="true" [top]="'5%'" [right]="'2%'"
                      (closeCallback)="this.close()" [title]="'Strategic Form'">
  <app-strategic-form-table *ngIf="this.userActionController && this.userActionController.strategicForm"
                            [stratFormScaleCSS]="this.stratFormScaleCSS"></app-strategic-form-table>


  <div class="buttons-container" *ngIf="this.userActionController && this.userActionController.strategicForm">
    <div class="button" (click)="this.postFromStrategicForm()">Solve</div>
    <div class="button" (click)="this.saveStrategicForm()">Save</div>
  </div>

  <div *ngIf="!this.userActionController || !this.userActionController.strategicForm" class="not-available-text">
    Strategic form not available...
  </div>

  <ng-container bottom>
    <div class="zoom-button">
      <img [src]="'assets/images/zoom-out.png'" alt="zoom out button" (click)="this.downScale(1.2)">
    </div>
    <div class="zoom-button">
      <img [src]="'assets/images/zoom-in.png'" alt="zoom in button" (click)="this.upScale(1.2)">
    </div>
  </ng-container>

</app-draggable-window>
