<ng-container *ngIf="this.tfs && this.tfs.treeTabs">
  <ng-container *ngFor="let tab of this.tfs.treeTabs;index as i">
    <app-tree-tab [index]="i" (select)="changeTree(i)" [isSelected]="this.isTabActive(i)"
                  (close)="this.activateConfirmation(i)"></app-tree-tab>
  </ng-container>
</ng-container>
<div class="middle-element"></div>
<div class="copyright">LSE 2024 <span *ngIf="this.tfs.userActionController">{{version}}</span></div>

<app-draggable-window [title]="" [isResizeable]="false" [height]="'150px'" [width]="'300px'" [top]="'calc(50% - 75px)'" [right]="'calc(50% - 150px)'"
                      (closeCallback)="this.confirmationActive=false;"
                      *ngIf="this.confirmationActive">
  <div class="confirmation-text">Are you sure you want to close this tree?</div>
  <div class="confirmation-buttons">
    <app-text-button [isActive]="false" [text]="'Yes'" (click)="this.closeTab(this.currentTabIndex)"></app-text-button>
    <app-text-button [isActive]="false" [text]="'No'" (click)="this.confirmationActive=false"></app-text-button>
  </div>
</app-draggable-window>
