@import "../../../shared/constants";
@import "../../../shared/mixins";

:host {
  position: relative;
  width: 35px;
  height: 35px;
  display: inline-block;
  margin: 0.1em 0.1em;

  &:hover {
    background: $grey3;
  }

  &:active {
    background: $grey2;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 65%;
    @include removeSelection();
    cursor: pointer;

    &.inactive {
      cursor: default;
    }
  }

  .active {
    opacity: 1;
    transition: opacity 0.3s;
    transition-delay: 0.5s;
  }

  .inactive {
    opacity: 0.3;
  }
}
