@import "../../../shared/constants";
@import "../../../shared/mixins";

:host {
  height: 100%;
  float: left;

  .tab-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 180px;
    background: $grey2;
    box-shadow: 3px 0 3px -2px black;
    margin-right: 5px;
    padding: 0 5px;

    @include removeSelection();

    .tree-name-container {
      position: relative;
      height: 60%;
      width: 80%;
      border: none;
      align-items: center;
      color: $grey-text;
      font-size: 0.8em;
      font-weight: lighter;
      padding: 0 5px;
      background-color: transparent;
    }

    .middle-element {
      margin: auto;
    }
  }

  .selected {
    background-color: $grey3;
  }
}
