<div class="tab-container" [ngClass]="{'selected':this.isSelected}" (click)="this.selectTab()">
<!--  <div contenteditable="true" (input)="this.tfs.treeTabs[this.index].fileName = $event.target.innerText"-->
<!--       class="tree-name-container">{{this.tfs.treeTabs[this.index].fileName}}-->
<!--  </div>-->
  <input #input class="tree-name-container" [value]="this.tfs.treeTabs[this.index].fileName"
         (input)="this.tfs.treeTabs[this.index].fileName = $event.target.value" (clickOutside)="this.test(input)">
  <div class="middle-element"></div>
  <app-clickable-x (click)="this.closeTab()"></app-clickable-x>
</div>


