<app-draggable-window [width]="'40%'" [height]="'65%'" [isResizeable]="false" [top]="'15%'" [right]="'30%'"
                      (closeCallback)="this.close()" [title]="'Welcome to Game Theory Explorer'">
  <div class="container">
    <p>You can check the short video below to help you understand how the software works.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/wJWZpzTnIYA" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>If you have suggestions, comments, requests, or if you find any bugs, please let us know by email: <br/>
      <em>b.von-stengel [at] lse.ac.uk</em> <br/> <em>antonov.martin [at] gmail.com</em></p>
    <p>We use cookies to enhance the experience of Game Theory Explorer. <br/> By continuing to use this website you
      agree to the storing of cookies on your device. </p>
    <div class="dont-show-container">
      <input type="checkbox" id="noshow" name="noshow" value="Bike" [(ngModel)]="this.uis.quickstartDontShowChecked"
             [ngModelOptions]="{standalone: true}">
      <label for="noshow">Don't show again</label>
    </div>
  </div>
</app-draggable-window>


