
.dimension {
  position: absolute;
  width: 200px;
}

#tree-height {
  left: -170px;
  bottom: 30px;
  transform: rotate(90deg);
  transform-origin: 100%;
  margin-right: 30px;
}

#tree-width {
  left: 48px;
  bottom: 10px
}
input[type=range] {
  height: 32px;
  //-webkit-appearance: none;
  margin: 10px 0;
}
input[type=range]:focus {
  outline: none;
}

@mixin thumb{
  width: 8px;
  height: 20px;
  cursor: pointer;
  background: #DADADA;
  border: 1px solid #8A8A8A;
  border-radius: 2px;
}
@mixin track{
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0 0 0 #000000;
  background: #e8e8e8;
  border-radius: 25px;
  border: 1px solid #8A8A8A;
}

input[type=range]::-webkit-slider-thumb {
  @include thumb;
  margin-top: -7px;
  -webkit-appearance: none;
}
input[type=range]::-moz-range-thumb {
  @include thumb;
}
input[type=range]::-ms-thumb {
  @include thumb;
  margin-top: 1px;
}

input[type=range]::-webkit-slider-runnable-track {
@include track;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #dcdcdc;
}
input[type=range]::-moz-range-track {
  @include track;
}

input[type=range]::-ms-track {
  @include track;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #B6B6B6;
  border: 1px solid #8A8A8A;
  border-radius: 50px;
  box-shadow: 0 0 0 #000000;
}

input[type=range]::-ms-fill-upper {
  background: #B6B6B6;
  border: 1px solid #8A8A8A;
  border-radius: 50px;
  box-shadow: 0 0 0 #000000;
}

input[type=range]:focus::-ms-fill-lower {
  background: #e0e0e0;
}
input[type=range]:focus::-ms-fill-upper {
  background: #e0e0e0;
}
