<app-draggable-window [width]="'35%'" [height]="'50%'" [isResizeable]="true" [top]="'5%'" [right]="'6%'"
                      (closeCallback)="this.close()" [title]="'Matrix Input'">
  <div class="matrix-input-content">
    <div class="matrix-input-options">
      <div (click)="activateFromText()" [ngClass]="{'selected':this.fromTextActive}">From Text</div>
      <div (click)="activatePlayerMatrix()" class="middle-option" [ngClass]="{'selected':this.fromMatricesActive}">
        Player Matrices
      </div>
    </div>
    <form *ngIf="this.fromTextActive" #matrixTextForm="ngForm" class="from-text-active-form" autocomplete="off">
      <br><br><label for="matrix-text-input">Input the game in the specified format:</label><br><br>
      <textarea [placeholder]="this.textMatrixPlaceholder" cols="40" rows="15" id="matrix-text-input"
                name="matrixTextInput" [(ngModel)]="this.matrixInputModel.wholeMatrix"></textarea><br><br>
      <button type="submit" (click)="this.postMatrixAsText()">Solve</button>
    </form>
    <form *ngIf="this.fromMatricesActive" #playersMatrixForm="ngForm" class="from-matrix-active-form"
          autocomplete="off">
      <div class="dimensions-input">
        <label for="rows">Rows (2-20): </label>
        <input type="text" id="rows" name="rows" [ngClass]="{'invalid':!this.checkRowsColsCondition()}"
               [(ngModel)]="this.matrixInputModel.rows">
        <label for="cols">Columns (2-20): </label>
        <input type="text" id="cols" name="cols" [ngClass]="{'invalid':!this.checkRowsColsCondition()}"
               [(ngModel)]="this.matrixInputModel.cols">
      </div>
      <div class="player-matrix-container" *ngIf="this.checkRowsColsCondition()">
        <div class="player-matrix">
          P1 Matrix
          <table cellspacing="0" cellpadding="0" #p1Table>
            <tr *ngFor="let row of this.createRowsArray(); index as i;">
              <td *ngFor="let column of this.createColsArray(); index as j">
                <input type="text" autocomplete="new-password" [ngClass]="{'invalid':!this.checkRowsColsCondition()}">
              </td>
            </tr>
          </table>
        </div>

        <div class="player-matrix">
          P2 Matrix
          <table cellspacing="0" cellpadding="0" #p2Table>
            <tr *ngFor="let row of this.createRowsArray(); index as i">
              <td *ngFor="let column of this.createColsArray(); index as j">
                <input type="text" autocomplete="new-password" #cell
                       [ngClass]="{'invalid':this.checkDecimalNumber(cell)}">
              </td>
            </tr>
          </table>
        </div>
      </div>
      <button type="submit" (click)="this.postMatrixAsPlayersInput()">Solve</button>
    </form>
  </div>
</app-draggable-window>
