@import "../../../shared/constants";
@import "../../../shared/mixins";

.matrix-input-container {
  @include window(700px, 500px);
  top: 5%;
  right: 6%;
  .top-handle {
    @include window-handle();
    .matrix-input-title {
      @include window-title();
    }
    app-clickable-x {
      float: right;
    }
  }
  .matrix-input-content {
    @include window-content();
    position: relative;
    overflow: hidden;
    .matrix-input-options {
      position: absolute;
      width: 75%;
      height: 50px;
      top: 2px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      div {
        display: inline-block;
        width: 33%;
        height: 100%;
        text-decoration: none;
        list-style: none;
        text-align: center;
        line-height: 50px;
        background: $grey3;
        color: $grey-text;

        &:hover {
          background: $grey-border;
        }
      }
      .middle-option {
        border-left: 1px solid $grey-border;
        border-right: 1px solid $grey-border;
      }
      .selected {
        background-color: #b0b0b0;
        color: $grey3;
        &:hover {
          background-color: #9e9e9e;
        }
      }
    }
    .from-text-active-form {
      text-align: center;
      textarea {
        white-space: pre-wrap;
        resize: none;
        overflow: auto;
      }
      button {
        width: 60px;
        height: 40px;
        @include clickableButton();
        display: inline-block;
        color: $grey-text;
      }
    }
    .from-matrix-active-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .dimensions-input {
        display: inline-block;
        margin-bottom: 20px;
        input {
          width: 20px;
          height: 20px;
          text-align: center;
          margin-right: 10px;
        }
      }
      .player-matrix-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .player-matrix {
          text-align: center;
          margin: 5px 20px;
          display: inline-block;
          table {
            border-left: 3px solid black;
            border-right: 3px solid black;
            border-radius: 10px;
            padding: 5px 15px;
          }
        }
      }
      button {
        width: 60px;
        height: 40px;
        @include clickableButton();
        display: inline-block;
        color: $grey-text;
        margin-top: 10px;
      }
    }
  }

  .bottom-field {
    @include window-bottom();
  }

}



