@import "../../../shared/constants";
@import "../../../shared/mixins";

.strat-form-content {
  @include window-content();
  overflow: hidden;
  .scale-container {
    .table-container {
      display: grid;
      grid-gap: 20px;
      &:hover {
        cursor: move;
      }
      .outer-cell {
        .p3-row-strategy {
          position: absolute;
          left: -65px;
          font-weight: bold;
          color: #00bb00;
        }
        .p4-col-strategy {
          position: absolute;
          top: -65px;
          font-weight: bold;
          color: #ff00ff;
        }
        display: grid;
        border: 1px solid black;
        .inner-cell {
          border: 1px solid black;
          width: 75px;
          height: 75px;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          padding: 4px;
          .p1-row-strategy {
            position: absolute;
            left: -80px;
            height: 76px;
            width: 76px;
            text-align: right;
            font-weight: bold;
            font-style: italic;;
            color: red;
          }
          .p2-col-strategy {
            position: absolute;
            top: -18px;
            width: 76px;
            text-align: center;
            font-weight: bold;
            font-style: italic;
            color: #0000ff;
          }
          .p1-payoff {
            position: relative;
            left: 2px;
            color: red;
            font-weight: 500;
            height: 25%;

          }
          .p2-payoff {
            position: relative;
            color: blue;
            font-weight: 500;
            height: 25%;
          }
          .p3-payoff {
            position: relative;
            color: #00bb00;
            font-weight: 500;
            height: 25%;
          }
          .p4-payoff {
            position: relative;
            left: 100%;
            transform: translateX(-100%);
            color: #ff00ff;
            font-weight: 500;
            text-align: right;
            height: 25%;
          }
        }
      }
      .diagonal-line {
        position: absolute;
        width: 50px;
        height: 50px;
        top: -35px;
        left: -34px;
        &:after {
          content: "";
          position: absolute;
          border-top: 2px solid black;
          width: 50px;
          transform: rotate(45deg);
          transform-origin: 0 0;
        }
        .p1-label {
          color: red;
          position: absolute;
          bottom: 14px;
          left: 5px;
          font-size: 16px;
          font-weight: bold;

        }
        .p2-label {
          color: blue;
          position: absolute;
          right: 24px;
          top: 2px;
          font-size: 16px;
          font-weight: bold;
        }
        .p3-label {
          color: #00bb00;
          position: absolute;
          right: 14px;
          top: -10px;
          font-size: 16px;
          font-weight: bold;
        }
        .p4-label {
          color: #ff00ff;
          position: absolute;
          right: 4px;
          top: -21px;
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
}
