@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
$grey1: #333;
$grey2: #424242;
$grey3: #555;
$grey4: #ccc;
$grey-border: #686868;
$grey-text: #ccc;
$myriad-pro: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$open-sans: 'Open Sans Condensed', sans-serif;
$inconsolata:'Inconsolata', monospace;
$tooltip-color: #ffffC0;
