@import "constants";

@mixin center($horizontally, $vertically) {
  @if $horizontally {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  @if $vertically {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  @if $horizontally and $vertically {

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@mixin removeSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

@mixin clickableButton {
  background: $grey3;
  border: 1px solid $grey-border;
  border-radius: 5px;
  &:hover {
    background: $grey-border;
  }
  &:active {
    background: $grey2;
  }
}

@mixin buttonInactive {
  .inactive {
    opacity: 0.3;
  }
}

@mixin window($width, $height) {
  position: absolute;
  width: $width;
  height: $height;
  @include removeSelection();
  background: $grey2;
  font-family: $myriad-pro;
  color: $grey-text;
  box-shadow: 3px 3px 16px -1px rgba(0, 0, 0, 0.51);
}

@mixin window-handle {
  position: relative;
  top: 0;
  left: 0;
  height: 32px;
  width: 100%;
  padding: 5px;
}

@mixin window-title {
  font-family: $myriad-pro;
  color: $grey-text;
  float: left;
}

@mixin window-content {
  background-color: white;
  width: calc(100% - 6px);
  height: calc(100% - 64px);
  margin: 0 3px;
  z-index: 19;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin window-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 32px;
  width: 100%;
  padding-left: 5px;
  z-index: -100;
}
