<ng-container *ngIf="this.tooltips && this.userActionController">
  <app-square-button [imageKey]="'plus.png'" (clicked)="this.userActionController.addNodesHandler();"
                     style="margin-top:20px;" [inactive]="this.areNodesSelected()"
                     [tooltipText]="this.tooltips.plus"></app-square-button>
  <app-square-button [imageKey]="'minus.png'"
                     (clicked)="this.userActionController.deleteNodeHandler();"
                     [inactive]="this.areNodesSelected()"
                     [tooltipText]="this.tooltips.minus"></app-square-button>
  <app-square-button [imageKey]="'user.png'" (mouseover)="this.activatePlayerChoice()"
                     [inactive]="!this.doSelectedHaveChildren()"
                     [tooltipText]="this.tooltips.player"></app-square-button>

  <div *ngIf="this.playerIsActive && this.doSelectedHaveChildren()">
    <div class="circle" [ngStyle]="{'background-color': playerColor}"
         [hidden]="i>=this.userActionController.treeController.tree.players.length-1"
         *ngFor="let playerColor of this.playerColors; let i=index" (click)="this.assignPlayer(i)">
    </div>
  </div>


  <app-square-button [imageKey]="'chance-node.png'"
                     (clicked)="this.userActionController.assignChancePlayerToNodeHandler();"
                     [inactive]="!this.doSelectedHaveChildren()"
                     [tooltipText]="this.tooltips.chance"></app-square-button>
  <app-square-button [imageKey]="'link.png'"
                     (clicked)="this.userActionController.createISetHandler();"
                     [inactive]="!this.canCreateISet()"
                     [tooltipText]="this.tooltips.link"></app-square-button>
  <app-square-button [imageKey]="'unlink.png'"
                     (clicked)="this.userActionController.removeISetsByNodesHandler();"
                     [inactive]="!this.canUnlinkOrCut()"
                     [tooltipText]="this.tooltips.unlink"></app-square-button>
  <app-square-button [imageKey]="'cut.png'"
                     (clicked)="this.userActionController.initiateCutSpriteHandler()"
                     [inactive]="!this.canUnlinkOrCut()"
                     [tooltipText]="this.tooltips.cut"></app-square-button>

  <app-square-button [imageKey]="'select-children.png'"
                     (clicked)="this.userActionController.selectChildren()"
                     [inactive]="this.areNodesSelected()"
                     [tooltipText]="this.tooltips.select_children"
  ></app-square-button>
  <hr>
  <app-square-button [imageKey]="'non-zero-sum.png'" [secondImageKey]="'zero-sum.png'"
                     (clicked)="this.userActionController.toggleZeroSum();"
                     [tooltipText]="this.tooltips.zero_sum"></app-square-button>
  <app-square-button [imageKey]="'random-payoffs.png'" (clicked)="this.userActionController.randomPayoffsHandler();"
                     style="margin-top:10px; margin-bottom:10px;"
                     [tooltipText]="this.tooltips.random_payoffs"></app-square-button>
  <app-square-button [imageKey]="'fraction.png'" [secondImageKey]="'decimal.png'"
                     (clicked)="this.userActionController.toggleFractionDecimal();"
                     [tooltipText]="this.tooltips.fraction_decimal"></app-square-button>
  <hr>
</ng-container>
