<div id="logo-wrapper"><img [src]="this.logoSrc" alt="logo-image"></div>

<app-basic-button [imageKey]="'new_tree.png'" (clicked)="someFunction()"></app-basic-button>
<app-basic-button [imageKey]="'save.png'" (clicked)="someFunction()"></app-basic-button>
<app-basic-button [imageKey]="'load.png'" (clicked)="someFunction()"></app-basic-button>
<app-basic-button [imageKey]="'save_image.png'" (clicked)="someFunction()"></app-basic-button>
<app-basic-button [imageKey]="'undo.png'" (clicked)="someFunction()"></app-basic-button>
<app-basic-button [imageKey]="'redo.png'" (clicked)="someFunction()"></app-basic-button>
