@import "../../shared/constants";
@import "../../shared/mixins";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 14px -1px rgba(0, 0, 0, 0.78);
  background: $grey2;
  .image-wrapper {
    background: $grey1;
    height: 100%;
    width: 150px;
    margin-right: 2em;
    img {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      height: 70%;
      width: auto;
      @include removeSelection();
    }
  }
  input {
    display: none;
  }
  @include buttonInactive();
}

