<div class="image-wrapper"><img [src]="this.logoSrc" alt="logo-image"></div>

<ng-container *ngIf="this.userActionController && this.tooltips">
  <app-square-button [imageKey]="'new-tree.png'" (clicked)="createNewTree()"
                     [tooltipText]="this.tooltips.new_tree"></app-square-button>
  <app-square-button [imageKey]="'save.png'" (clicked)="toggleSaveMenu()"
                     [tooltipText]="this.tooltips.save_tree"></app-square-button>
  <app-square-button [imageKey]="'load.png'" (clicked)="loadInput.click();"
                     [tooltipText]="this.tooltips.load_tree"></app-square-button>
  <input type="file" accept=".gte" #loadInput (change)="this.loadTreeFromFile($event)">
  <app-square-button [imageKey]="'undo.png'" (clicked)="this.userActionController.undoRedoHandler(true)"
                     style="margin-left:2em" [tooltipText]="this.tooltips.undo"
                     [inactive]="this.isUndoActive()"></app-square-button>
  <app-square-button [imageKey]="'redo.png'"
                     (clicked)="this.userActionController.undoRedoHandler(false)"
                     [tooltipText]="this.tooltips.redo"
                     [inactive]="this.isRedoActive()"></app-square-button>
  <app-save-menu *ngIf="this.uis.saveFileActive"></app-save-menu>

  <app-players-box></app-players-box>

  <app-text-button [isActive]="this.uis.algorithmsMenuOpen" [text]="'Algorithms'" (click)="this.uis.algorithmsMenuOpen = true"></app-text-button>
  <app-text-button [text]="'Strategic Form'" (click)="this.toggleStrategicForm()"
                   [isActive]="this.uis.strategicFormActive"></app-text-button>


  <!--  <app-text-button [text]="'SE'" (click)="this.toggleSequentialForm()"-->
  <!--  [isActive]="this.uis.sequentialFormActive"></app-text-button>-->

  <!--  <app-text-button [text]="'Matrix Input'" (click)="this.toggleMatrixInput()"-->
  <!--                   [isActive]="this.uis.matrixInputActive"></app-text-button>-->
  <!--  <app-text-button [text]="'Solver'" (click)="this.toggleSolver()" [isActive]="this.uis.solverActive"></app-text-button>-->

  <app-algorithms-menu *ngIf="this.uis.algorithmsMenuOpen"
                       (click)="this.uis.algorithmsMenuOpen = false;">
  </app-algorithms-menu>

  <app-strategic-form *ngIf="this.uis.strategicFormActive"></app-strategic-form>
  <app-sequential-form *ngIf="this.uis.sequentialFormActive"></app-sequential-form>
  <app-matrix-input *ngIf="this.uis.matrixInputActive"></app-matrix-input>
  <app-solver *ngIf="this.uis.solverActive"></app-solver>
</ng-container>



