
<div class="settings-container" ngDraggable [handle]="dragHandle"
       [inBounds]="true" [bounds]="this.getBody()">
    <div #dragHandle class="top-handle">
      <span class="settings-title">Settings</span>
      <app-clickable-x (click)="this.close()"></app-clickable-x>
    </div>
    <div class="settings-content">
      <form #settingsForm="ngForm" autocomplete="off">
        <div class="tree-dimensions">
          <label for="treeWidth">Tree Width</label><br>
          <input type="range" id="treeWidth" name="treeWidth" [(ngModel)]="this.treeWidth" [min]="0" [max]="100" (change)="this.updateTreeWidth()"> <span>{{this.treeWidth | number:"1.0"}}</span><br>
          <label for="treeHeight">Tree Height</label><br>
          <input type="range" id="treeHeight" name="treeWidth" [(ngModel)]="this.treeHeight" [min]="0" max="100" (change)="this.updateTreeHeight()"> <span>{{this.treeHeight | number:"1.0"}}</span><br>
        </div>
        <div class="player-preferred-lists">
          <label for="p1List">P1 Moves List: </label>
          <input type="text" id="p1List" name="p1List" [(ngModel)]="this.playerLists[0]" (change)="this.updatePlayerList(0)" [(value)]="this.playerLists[0]"><br>
          <label for="p2List">P2 Moves List: </label>
          <input type="text" id="p2List" name="p2List" [(ngModel)]="this.playerLists[1]" (change)="this.updatePlayerList(1)" [(value)]="this.playerLists[1]"><br>
          <label for="p3List">P3 Moves List: </label>
          <input type="text" id="p3List" name="p3List" [(ngModel)]="this.playerLists[2]" (change)="this.updatePlayerList(2)" [(value)]="this.playerLists[2]"><br>
          <label for="p4List">P4 Moves List: </label>
          <input type="text" id="p4List" name="p4List" [(ngModel)]="this.playerLists[3]" (change)="this.updatePlayerList(3)" [(value)]="this.playerLists[3]"><br>
        </div>

        <div class="toggle-button-container">
          <label for="autoLevels">Minimize crossings:</label>
          <span></span>
          <input type="checkbox" id="autoLevels" class="checkbox" (change)="this.toggleAutoLevels()">
        </div>
        <div class="toggle-button-container">
          <label for="bestResponses">Best Responses:</label>
          <span></span>
          <input type="checkbox" id="bestResponses" class="checkbox" (change)="this.toggleBestResponses()">
        </div>
      </form>
    </div>
    <div class="bottom-field">
    </div>
</div>
