@import "../../../shared/constants";
@import "../../../shared/mixins";

:host {
  display: flex;
  justify-content: center;
  .button-l-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    &:hover {
      background: $grey3;
    }
    &:active {
      background: $grey2;
    }
    img {
      width: 70%;
      z-index: 10;
      padding-top: 0.2vw;
      padding-bottom: 0.2vw;
      @include removeSelection();
    }
  }
}


