@import "../../../shared/constants";
@import "../../../shared/mixins";

app-draggable-window {
  .solver-content {
    @include window-content();
    overflow: auto;

    p {
      position: relative;
      top: 10px;
      left: 10px;
      width: 100%;
      height: calc(100% - 40px);
      white-space: pre;
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
      font-family: $inconsolata;
    }

    div {
      text-align: center;
    }
  }
}
