@import "../../../shared/constants";
@import "../../../shared/mixins";

:host {
  position: absolute;
  top: 40px;
  left: 11%;
  width: 0;
  height: 0;
  @include removeSelection();

  .file-name {
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $grey1;
    padding: 0 5px;

    .label {
      width: 30%;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $grey-text;
      font-style: italic;
    }

    input {
      width: 50%;
      height: 80%;

      &:focus {
        outline: none;
      }
    }
  }

  .save-menu-container {
    display: flex;
    flex-direction: column;

    .menu-title {
      width: 250px;
      height: 30px;
      background: $grey2;
      color: $grey-text;
      border: 1px solid $grey4;
      line-height: 30px;
      padding-left: 20px;
      font-weight: bolder;
    }

    .clickable-item {
      width: 250px;
      height: 30px;
      background: $grey3;
      color: $grey-text;
      border: 1px solid $grey1;
      line-height: 30px;
      padding-left: 40px;
      font-style: italic;
      transition: background 0.1s;

      &:hover {
        background: $grey2;
        cursor: pointer;
      }
    }

    .disabled {
      opacity: 0.5;

      &:hover {
        background: $grey3;
        cursor: default;
      }
    }
  }
}
