<div class="save-menu-container">
  <div class="menu-title">Tree</div>
  <div class="clickable-item" (click)="this.tfs.saveTreeToFile();this.closeSaveMenu()">as .GTE</div>
  <div class="clickable-item" (click)="this.tfs.saveTreeToImage();this.closeSaveMenu()">as .PNG</div>
  <div class="clickable-item" (click)="this.tfs.saveTreeToFig();this.closeSaveMenu()">as .FIG</div>
  <div class="clickable-item" (click)="this.tfs.saveTreeToSVG();this.closeSaveMenu()">as .SVG</div>
  <div class="menu-title">Strategic Form</div>
  <div class="clickable-item" [ngClass]="{'disabled': this.isStrategicFormDisabled()}"
       (click)="this.tfs.saveStrategicFormToSTF();this.closeSaveMenu()">as .STF
  </div>
  <div class="clickable-item" [ngClass]="{'disabled': this.isStrategicFormDisabled()}"
       (click)="this.tfs.saveStrategicFormToTEX();this.closeSaveMenu()">as .TEX
  </div>
</div>
