@import "../../../shared/constants";
@import "../../../shared/mixins";

.error-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: -80px;
  right: 60px;
  width: 400px;
  height: 80px;
  z-index: 2;
  box-shadow: 0 3px 14px -1px rgba(0, 0, 0, 0.51);
  @include error-bg();

  img {
    position: relative;
    width: 20%;
    padding-right: 15px;
    float: right;
  }
  .error-message {
    height: 80%;
    width: 80%;
    color: $grey-text;
    padding-left: 15px;
    font-style: italic;
    span {
      display: block;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .close-button {
    position: absolute;
    width:10px;
    height:10px;
    padding-right: 15px;
    top: 0;
    right: 0;
    color: whitesmoke;
    font-size: 1.2em;
    font-family: $inconsolata;
    @include removeSelection();
    &:hover{
      color:$grey-text;
      cursor: pointer;
    }
  }

}
