@import "../../../shared/constants";
@import "../../../shared/mixins";

.close-button-wrapper {
  position: relative;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  @include clickableButton();
  img {
    position: relative;
    height: 70%;
    width: auto;
    transform: rotate(45deg);
  }
}
