html{
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height:100%;
  overflow: hidden;
  position:absolute;
}

div {
  margin:0;
  padding:0;

}

#phaser-div{
  top:5%;
  height:100%;
  width:100%;
  position:absolute;
}

canvas{
  position: absolute;
  left:50%;
  top:50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

#bug-fixer{
  visibility:hidden;
  position:absolute;
}
