:host{
  z-index:1;
}

#phaser-div{
  width:100%;
  height:100%;
}

canvas{
  width:100%;
  height:100%;
}

#bug-fixer{
  visibility:hidden;
  position:absolute;
}

#svg-export{
  display:none;
  visibility:hidden;
}
