<ng-container *ngIf="this.shortcuts">
  <div class="shortcuts-container" ngDraggable [handle]="dragHandle"
       [inBounds]="true" [bounds]="this.getBody()">
    <div #dragHandle class="top-handle">
      <span class="shortcuts-title">Shortcuts</span>
      <app-clickable-x (click)="this.close()"></app-clickable-x>
    </div>
    <div class="shortcuts-content">
      <ul class="shortcuts-list">
        <li *ngFor="let shortcut of this.shortcuts; index as i ">
          <span class="command" (mouseenter)="this.currentlyHoveredIndex=i;"
                (mouseleave)="this.currentlyHoveredIndex=-1">{{shortcut.command}}</span>
          <span class="explanation">{{shortcut.explanation}}</span>
        </li>
      </ul>
    </div>
    <div class="bottom-field">
    </div>
    <video *ngIf="this.currentlyHoveredIndex!==-1 && this.shortcuts[this.currentlyHoveredIndex].videoURL" class="video"
           [src]="this.shortcuts[this.currentlyHoveredIndex].videoURL" autoplay loop></video>
  </div>
</ng-container>
