<app-draggable-window *ngIf="this.shortcuts" [width]="'650px'" [height]="'700px'" [isResizeable]="false" [top]="'10%'"
                      [right]="'calc(50% - 325px)'"
                      (closeCallback)="this.close()" [title]="'Settings'">

    <div class="shortcuts-content">
      <ul class="shortcuts-list">
        <li *ngFor="let shortcut of this.shortcuts; index as i ">
          <span class="command" (mouseenter)="this.currentlyHoveredIndex=i;"
                (mouseleave)="this.currentlyHoveredIndex=-1">{{shortcut.command}}</span>
          <span class="explanation">{{shortcut.explanation}}</span>
        </li>
      </ul>
    </div>

  <video *ngIf="this.currentlyHoveredIndex!==-1 && this.shortcuts[this.currentlyHoveredIndex].videoURL" class="video"
         [src]="this.shortcuts[this.currentlyHoveredIndex].videoURL" autoplay loop></video>
</app-draggable-window>

