@import "../../../shared/constants";
@import "../../../shared/mixins";

.shortcuts-container {
  @include window(650px, 700px);
  top: 10%;
  left: calc(50% - 325px);
  .top-handle {
    @include window-handle();
    .shortcuts-title {
      @include window-title();
    }
    app-clickable-x {
      float: right;
    }
  }
  .shortcuts-content {
    @include window-content();
    ul {
      li {
        margin: 5px 0;
        .command {
          font-family: $orbitron;
          font-weight: bold;
          margin-right: 20px;
          color: cornflowerblue;
        }
        .explanation {

        }

      }
    }
  }
  .bottom-field {
    @include window-bottom();
  }
}
