@import "../../../shared/constants";
@import "../../../shared/mixins";

app-draggable-window{
  .shortcuts-content {
    @include window-content();
    ul {
      li {
        margin: 5px 0;
        .command {
          font-family: $orbitron;
          font-weight: bold;
          margin-right: 20px;
          color: cornflowerblue;
        }
      }
    }
  }
}

.video {
  position: absolute;
  top: 150px;
  left: -355px;
  width: 350px;
  height: 450px;
  border: 4px solid $grey3;
}
