/* You can add global styles to this file, and also import other style files */
@import "app/shared/constants";

html, body, app-root {
  width: 100%;
  height: 100%;
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: $myriad-pro;
  background: $grey1;
}

html {;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.invalid {
  border: 1px solid red;
}

.ng-tooltip {
  position: absolute;
  max-width: 300px;
  font-size: 14px;
  text-align: center;
  padding: 4px 10px;
  background-color: $tooltip-color;
  border: 1px solid black;
  z-index: 1000;
  opacity: 0;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  transition: opacity 0s;
}

.ng-tooltip-show {
  opacity: 1;
  transition: opacity 200ms 400ms;

}
