<div class="algorithm" (click)="toggleSPNE()">Subgame-Perfect Nash Equilibrium</div>
<div class="algorithm lrsnash">
  <div>Lrsnash</div>
  <div> > </div>
</div>
<div class="lrsnash-options">
  <div class="algorithm" (click)="solveForGameTree()">From Game Tree</div>
  <div class="algorithm" (click)="openStrategicForm()">From Strategic Form</div>
  <div class="algorithm" (click)="openMatrixInput()">From Matrix Input</div>
</div>
<div class="algorithm" (click)="calculateBFI()">Backward-Forward Induction</div>
<div class="algorithm" (click)="toggleSequentialForm()">Sequential Equilibria</div>
